ion-header{
    position: absolute;
}

ion-content{
    --ion-background-color: #E1EAF9 !important;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
}

.wrapform{
    margin-top: 30px;
}

ion-item{

    ion-input{
        color: #647b9d;
    }
}

.password_forgot{
    text-align: right;
}